.app-search {
    display: grid;
    padding: 10px;
    position: relative;
    // align-content: center;

    @include for-mobile-layout {
        grid-column: span 2;
    }

    .search-form {
        display: grid;
        // grid-auto-flow: column;
        // justify-content: start;
        gap: 5px;
        height: 48px;
        background-color: $bgc-search;
        border-radius: 25px;
        padding-inline-start: 10px;
        // width: 70%;
        padding: 0;

        .icon-search {
            width: max-content;
            margin: 0;
            align-self: center;
            position: absolute;
            left: 25px;
        }

        input {
            background-color: $bgc-search;
            border-radius: 25px;
            border: 0;
            color: white;
            margin: 0;
            padding: 0;
            padding-left: 45px;
        }
    }
}