.song-preview {

  user-select: none;
  border-radius: 10px;
  margin: 10px 0;


  
  cursor: default; 
  & :active {   cursor: grabbing;  }
  & .song-name, & .play { cursor : pointer; }

  

  &:hover {
    background-color: $dark-clr3;
  }


  .square-ratio {
    width: 50px;
  }

  img {
    display: block;
    border-radius: 10px;
  }


  &.song-preview-station-grid {
    & .number .play {
      display: none;
    }

    &:hover .number {
      & .play {
        display: block;
      }
     
        & .num {
          display: none;
        }
   
    }

    & .add {visibility: hidden;}

    @include for-wide-layout {
      & .more {visibility: hidden;}
   
      &:hover .add {visibility: visible;}
      &:hover .more {visibility: visible;}
    }

    @include for-mobile-layout {

      &.number {   display: none;    }
      // &:hover .number {   display: none;    }
      
   
      & .more svg { transform: rotate(90deg);}
    }
  
    & .active {
      color: $primery-clr;
    }
   

  }

  &.search-at-station {
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr minmax(150px, 0.2fr);
    align-items: center;
    padding: 0 10px;

    @include for-mobile-layout {
      grid-template-columns: 2fr 0fr 0fr 0fr;
      padding: 0px;
    }

    & .intro-outer {


      & .square-ratio {

        & .play {
          visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        // &:hover .play {
        //   display: flex;
        // }
      }

    }

    &:hover .intro-outer .square-ratio .play {
      visibility: visible;
      display: flex;
    }
  }

  &.search {
    display: grid;
    grid-template-columns: 2fr 0.2fr 0.2fr 0.2fr;
    align-items: center;
    padding: 0 10px;
    margin: 4px 0;

    @include for-mobile-layout {
      grid-template-columns: 2fr 0.2fr 0 0;
    }
     

    & .add {
      visibility: hidden;
    }

    & .more {
      visibility: hidden;
    }

    &:hover .add {
      visibility: visible;
    }

    &:hover .more {
      visibility: visible;
    }

    & .square-ratio {

      & .play {
        display: flex;
        visibility: hidden;
        align-items: center;
        justify-content: center;
      }

      // &:hover .play {
      //   visibility: visible;
      //   display: flex;
      // }
    }


    &:hover .play {
      visibility: visible;
      display: flex;
    }
  }
}